name: test

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]
jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.17.x', '1.18.x', '1.19.x']
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Go version
        run: go version
      - name: Run Go tests
        run: |
          go test -v ./...
          (cd samlidp && go test -v ./...)
          (cd example && go test -v ./...)
